body{
    background-color : ghostwhite;
}
#all-users{
    display: none;
}
/* div{
    position: relative; 
    width: 100%;
} */
h2 {
    text-align: center;
    color: darkslategrey;
    /* position: absolute; 
    top: 50px; 
    left: 0; 
    width: 100%;  */
}
h4{
    text-align: center;
    color: darkslategrey;
    /* position: absolute; 
    top: 80px; 
    left: 0; 
    width: 100%;  */
}
img{
    border: 6px solid gray;
}