body{
    background-color : ghostwhite;
}
#all-users{
    display: none;
}

h2 {
    text-align: center;
    color: darkslategrey;
    /* for overlays */
    /* position: absolute; 
    top: 50px; 
    left: 0; 
    width: 100%;  */
}
h4{
    text-align: center;
    color: darkslategrey;
    /* for overlays */
    /*  
    position: absolute; 
    top: 80px; 
    left: 0; 
    width: 100%;  */
}
img{
    border: 6px solid gray;
}

/* for overlays */
/* div{
    position: relative; 
    width: 100%;
} */